<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L'Handi Fun World</title>
    <link rel="stylesheet" href="../style/css/header.css">
    <link rel="stylesheet" href="../style/css/accueil.css">
</head>
<body>
    <div class="header">
        <h1 class="title">L'Handi Fun World</h1>
        <div class="content_center">
            <ul>
                <li><a href="/accueil.html">Page d'accueil</a></li>
                <li><a href="/equipe">L'équipe</a></li>
                <li><a href="/funny">Funny</a></li>
                <li><a href="/evenements">Évènements</a></li>
                <li><a href="/handinfo">Handinfo</a></li>
                <li><a href="/hnpw">Handi Newspaper World</a></li>
                <li><a href="/storytime">Story Time</a></li>
                <li><a href="/partenaires">Partenaires</a></li>
            </ul>
        </div>
    </div>
    <div class="zone">Logo</div>
    <p class="center">Bienvenue dans le monde magique de l'Handi Fun World. Nous sensibilisons au handicap. Et nous accompagnons des enfants porteurs de handicap dans des activités d'art créatifs, dans des activités sportives ou lors de moment de jeux. Lorsque vous nous rencontrez ou que vous participer à l'une de nos activités, vous pouvez utiliser le hashtag ci-dessous sur tous vos réseaux sociaux.</p>
    <div class="zone">#handifunworld</div>
</body>
</html>