<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L'Handi Fun World</title>
    <link rel="stylesheet" href="./style/css/header.css">
    <link rel="stylesheet" href="./style/css/equipe.css">
</head>

<body>
    <div class="header">
        <h1 class="title">L'Handi Fun World</h1>
        <div class="content_center">
            <ul>
  <li><a href="/HandiFunWorld/index.html">Page d'accueil</a></li>
  <li><a href="/HandiFunWorld/template/equipe.html">L'équipe</a></li>
  <li><a href="/HandiFunWorld/template/funny.html">Funny</a></li>
  <li><a href="/HandiFunWorld/template/evenements.html">Évènements</a></li>
  <li><a href="/HandiFunWorld/template/handinfo.html">Handinfo</a></li>
  <li><a href="/HandiFunWorld/template/hnpw.html">Handi Newspaper World</a></li>
  <li><a href="/HandiFunWorld/template/storytime.html">Story Time</a></li>
  <li><a href="/HandiFunWorld/template/partenaires.html">Partenaires</a></li>
</ul>


        </div>
    </div>
    <h1>Notre Équipe</h1>
    <div id="team-container">
        <!-- Les membres seront ajoutés ici en JavaScript -->
    </div>

    <script>
        fetch('/json/team.json')
            .then(response => response.json())
            .then(data => {
                const teamContainer = document.getElementById('team-container');

                data.team.forEach(member => {
                    const memberDiv = document.createElement('div');
                    memberDiv.classList.add('member');

                    memberDiv.innerHTML = `
                    <img src="${member.photo}" alt="Photo de ${member.name}">
                    <div class="member-info">
                        <h2>${member.name}</h2>
                        <h3>${member.role}</h3>
                        <p>${member.description}</p>
                    </div>
                `;

                    teamContainer.appendChild(memberDiv);
                });
            })
            .catch(error => console.error('Erreur lors du chargement des membres:', error));

    </script>
</body>

</html>