<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L'Handi Fun World</title>
    <link rel="stylesheet" href="../style/css/header.css">
    <link rel="stylesheet" href="../style/css/evenements.css">
</head>

<body>
    <div class="header">
        <h1 class="title">L'Handi Fun World</h1>
        <div class="content_center">
            <ul>
  <li><a href="/HandiFunWorld/index.html">Page d'accueil</a></li>
  <li><a href="/HandiFunWorld/template/equipe.html">L'équipe</a></li>
  <li><a href="/HandiFunWorld/template/funny.html">Funny</a></li>
  <li><a href="/HandiFunWorld/template/evenements.html">Évènements</a></li>
  <li><a href="/HandiFunWorld/template/handinfo.html">Handinfo</a></li>
  <li><a href="/HandiFunWorld/template/hnpw.html">Handi Newspaper World</a></li>
  <li><a href="/HandiFunWorld/template/storytime.html">Story Time</a></li>
  <li><a href="/HandiFunWorld/template/partenaires.html">Partenaires</a></li>
</ul>


        </div>
        <h1>test2</h1>
    </div>
</body>

</html>