<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>L'Handi Fun World</title>
  <link rel="stylesheet" href="/HandiFunWorld/style/css/header.css">
  <link rel="stylesheet" href="/HandiFunWorld/style/css/handinfo.css">
  <link rel="icon" href="/HandiFunWorld/style/img/Logo.jpg" />
</head>

<body>

  <div class="header">
    <h1 class="title">L'Handi Fun World</h1>
    <div class="content_center">
      <ul>
  <li><a href="/HandiFunWorld/index.html">Page d'accueil</a></li>
  <li><a href="/HandiFunWorld/template/equipe.html">L'équipe</a></li>
  <li><a href="/HandiFunWorld/template/funny.html">Funny</a></li>
  <li><a href="/HandiFunWorld/template/evenements.html">Évènements</a></li>
  <li><a href="/HandiFunWorld/template/handinfo.html">Handinfo</a></li>
  <li><a href="/HandiFunWorld/template/hnpw.html">Handi Newspaper World</a></li>
  <li><a href="/HandiFunWorld/template/storytime.html">Story Time</a></li>
  <li><a href="/HandiFunWorld/template/partenaires.html">Partenaires</a></li>
</ul>


    </div>
  </div>

  <!-- Introduction Handinfo -->
  <section class="handinfo-intro">
    <h2>Découvrez les Handinfo</h2>
     <p>
    Les Handinfo sont des publications dédiées à plus de 50 maladies, handicaps et syndromes différents.  
    Pour chaque sujet, vous pourrez en apprendre davantage : comprendre de quoi il s’agit, savoir combien de personnes sont concernées, et même découvrir quelles célébrités sont touchées.  
    Une manière simple et passionnante de mieux connaître le handicap et de rester informé.
  </p>
  </section>

  <div id="modalsContainer"></div>
<script src="/HandiFunWorld/js/handinfo.js"></script>


</body>

</html>