<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L'Handi Fun World</title>
    <link rel="stylesheet" href="/HandiFunWorld/style/css/header.css">
    <link rel="stylesheet" href="/HandiFunWorld/style/css/storytime.css">
    <link rel="icon" href="/HandiFunWorld/style/img/Logo.jpg" />
</head>

<body>
    <div class="header">
        <h1 class="title">L'Handi Fun World</h1>
        <div class="content_center">
            <ul>
  <li><a href="/HandiFunWorld/index.html">Page d'accueil</a></li>
  <li><a href="/HandiFunWorld/template/equipe.html">L'équipe</a></li>
  <li><a href="/HandiFunWorld/template/funny.html">Funny</a></li>
  <li><a href="/HandiFunWorld/template/evenements.html">Évènements</a></li>
  <li><a href="/HandiFunWorld/template/handinfo.html">Handinfo</a></li>
  <li><a href="/HandiFunWorld/template/hnpw.html">Handi Newspaper World</a></li>
  <li><a href="/HandiFunWorld/template/storytime.html">Story Time</a></li>
  <li><a href="/HandiFunWorld/template/partenaires.html">Partenaires</a></li>
</ul>


        </div>
    </div>

<div class="story-container">

  <div class="story-card">
    <button class="story-header">Témoignage de Julie - Sclérose en plaques</button>
    <div class="story-content">
      <p>
        J’ai découvert ma maladie à 18 ans... Aujourd’hui je veux partager
        mon histoire pour aider d’autres jeunes dans la même situation.
      </p>
    </div>
  </div>

  <div class="story-card">
    <button class="story-header">Témoignage de Maxime - Autisme</button>
    <div class="story-content">
      <p>
        Grandir avec l’autisme, c’est parfois un combat quotidien,
        mais aussi une richesse. Voici mon parcours...
      </p>
    </div>
  </div>

</div>
<script src="/HandiFunWorld/js/story.js"></script>
</body>

</html>