<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L'Handi Fun World</title>
    <link rel="stylesheet" href="/HandiFunWorld/style/css/header.css">
    <link rel="stylesheet" href="/HandiFunWorld/style/css/storytime.css">
    <link rel="icon" href="/HandiFunWorld/style/img/Logo.jpg" />
</head>

<body>
    <div class="header">
        <h1 class="title">L'Handi Fun World</h1>
        <div class="content_center">
            <ul>
  <li><a href="/HandiFunWorld/index.html">Page d'accueil</a></li>
  <li><a href="/HandiFunWorld/template/equipe.html">L'équipe</a></li>
  <li><a href="/HandiFunWorld/template/funny.html">Funny</a></li>
  <li><a href="/HandiFunWorld/template/evenements.html">Évènements</a></li>
  <li><a href="/HandiFunWorld/template/handinfo.html">Handinfo</a></li>
  <li><a href="/HandiFunWorld/template/hnpw.html">Handi Newspaper World</a></li>
  <li><a href="/HandiFunWorld/template/storytime.html">Story Time</a></li>
  <li><a href="/HandiFunWorld/template/partenaires.html">Partenaires</a></li>
</ul>


        </div>
    </div>

<div class="story-container">

   <div class="story-card">
    <img src="/HandiFunWorld/style/img/storytime/erika.png" alt="Julie - Sclérose en plaques" class="story-img">
    <button class="story-toggle">Clique pour en savoir plus</button>
    <div class="story-content">
      <p>
        Bonjour à tous, je vais vous raconter mon vécu par rapport à la chimiothérapie que 
j'ai subie lors du diagnostic de mon cancers de l'utérus.<br>

Le cancer m'a beaucoup pris j'ai fait de nombreux AVC a cause de lui et la chimiothérapie n'a pas été tout de suite 
une réussite...<br>


J'ai commencé la chimiothérapie très tôt après le diagnostique du cancer. Et en parallèle de la chimiothérapie je faisais de 
la radiothérapie (c'est un traitement aux rayons) afin de faire diminuer la tumeur que j'avais sur le psoas et qui 
appuyait sur les nerfs de ma jambe.<br>



Le premier jour de chimiothérapie on m'a mise sous perfusion sauf que la perfusion c'est très mal dérouler, 
j'ai très mal réagi au médicament, j'en avais la main gonflée et j'ai perdu connaissance. Suite à cette réaction les 
médecins ont décidé de m'enlever la perfusion et m'ont posé la Picc line (c'est le même processus que la chambre implantable, la 
seule différence c'est qu'au lieu de se trouver dans le coeur elle se trouve dans le bras et le cathéter pour aller jusqu'au 
coeur est plus long) qui m'a causé 2 septicémies, j'ai ensuite été envoyé tester un nouveau traitement de chimiothérapie (méthode qui 
venait de sortir du laboratoire) et bonne nouvelle mon corps a enfin bien réagi à cette nouvelle chimiothérapie même si 
le fait de perdre mes cheveux n'était pas facile.<br>


Il faut savoir que la chimiothérapie est un traitement très lourd qui rend très malade, pour ma part j'arrivais plus à manger 
et à boire. Je ne faisais que vomir et j'étais extrêmement fatiguée. Voilà je passais mes journées à vomir et à dormir.<br>


Les conséquences physiques de la chimiothérapie ont été aussi dures à subir que la chimiothérapie en elle-même parce que je n'ai 
pas seulement perdu mes cheveux; j'ai aussi perdu l'usage de mes jambes pendant un ou deux mois les aides soignants et les 
infirmiers étaient obligés de me lever parce que la chimiothérapie me rendait vraiment malade.<br>


 
Comme je vous l'ai dit mon corps a bien réagi à la chimiothérapie au point d'éliminer le cancer.
Alors le jour où j'ai appris que j'étais en rémission ça a été un soulagement indescriptible. Lorsque l'on m'a annoncé la 
rémission je me suis réellement rendu compte de tout ce que j'avais traversé et j'ai pris conscience que maintenant c'était 
vraiment derrière moi; enfin derrière moi façon de parler, ma santé a été fragilisé par le cancer et donc les soucis de santé 
continuent. Ils sont bien moins graves que le cancer bien sur mais
au moindre virus qui traine je tombe malade, j'ai encore des douleurs dans le corps et je suis maintenant handicapé a 
cause de la tumeur que j'ai eue. Mais j'ai eu tellement de chance de sortir de tout ça que je ne m'en plains pas.<br>


Et puis y ont des jours comme celui-ci où je vais bien, y a des jours où les médicaments font effet au point que je ne sente 
plus la douleur constante que je peux sentir parfois et c'est dans ces jours-là que je vais vraiment bien. Et sentir que l'on 
va bien lorsqu'on est une ancienne malade de cancer comme moi c'est une sensation magnifique.<br>

      </p>
    </div>
  </div>

</div>
<script src="/HandiFunWorld/js/story.js"></script>
</body>

</html>