.book-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
}

.book {
  position: relative;
  max-width: 800px;
  margin: auto;
}


.page {
  position: absolute;
  opacity: 0;
  pointer-events: none;

  display: flex;
  justify-content: center;
  align-items: center;

  background: transparent;
}

.page.active {
  opacity: 1;
  pointer-events: auto;
}

/* ✅ L’IMAGE DÉFINIT LA TAILLE */
.page img {
  display: block;

  max-width: 100%;
  max-height: 100%;

  width: auto;
  height: auto;

  border: 3px solid #000;
  border-radius: 8px;
}



.cover {
  background: linear-gradient(135deg, #004AAD, #6BA8FF);
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
}

.back-cover {
  background: linear-gradient(135deg, #003080, #001a40);
  color: white;
}

.page.flipped {
  transform: rotateY(-180deg);
}

/* Boutons */
.nav-btn {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  margin: 10px;
  color: #004AAD;
}

.nav-btn:hover {
  transform: scale(1.2);
}
