.book-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
}

.book {
    position: relative;
  width: 100%;
  max-width: 800px;
  height: 500px; /* ✅ hauteur fixe */
  margin: auto;
  overflow: hidden;
  perspective: 1200px;
   border: 2px solid rgba(0,0,0,0.1);  /* contour léger */
  border-radius: 12px;
  background: #b8b8b8;              /* léger fond papier */
}

.page {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 0;
  pointer-events: none;

  background: transparent;   /* plus de fond blanc */
  border-radius: 0;          /* on enlève l’arrondi ici */
  box-shadow: none;          /* plus d’ombre ici */

  transform-origin: left;
  transform-style: preserve-3d;
  transition: opacity 0.4s ease, transform 0.6s;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;                /* ✅ CRUCIAL */
  box-sizing: border-box;
  backface-visibility: hidden;
}


.page.active {
  opacity: 1;
  pointer-events: auto;
}

.page img {
  width: 100%;
  height: 100%;
  object-fit: contain;

  border: 3px solid #000;     /* ✅ contour noir collé à l’image */
  border-radius: 8px;
  background: white;
}


.cover {
  background: linear-gradient(135deg, #004AAD, #6BA8FF);
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
}

.back-cover {
  background: linear-gradient(135deg, #003080, #001a40);
  color: white;
}

.page.flipped {
  transform: rotateY(-180deg);
}

/* Boutons */
.nav-btn {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  margin: 10px;
  color: #004AAD;
}

.nav-btn:hover {
  transform: scale(1.2);
}
