body {
    margin: 0;
    padding: 0;
}


.header {
    display: flex;
    flex-direction: column; /* Affiche les éléments en colonne (titre au-dessus, menu en dessous) */
    justify-content: center;
    align-items: center;
    padding: 60px;
    background: linear-gradient(45deg, #E9A2E7,  #E95050);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0;
}

.title {
    font-family: 'Brush Script MT', cursive;
    font-size: 70px;
    color: #dddddd;
    margin: 0;
    margin-bottom: 20px; /* Ajoute un espace entre le titre et la navigation */
}

.content_center ul {
    list-style-type: none; /* Enlève les puces */
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
}

.content_center ul li {
    margin-right: 20px; /* Espace entre chaque élément de la liste */
}

.content_center ul li:last-child {
    margin-right: 0; /* Enlève la marge droite du dernier élément */
}

.content_center ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.content_center ul li a:hover {
    background-color: #333;
}