.scene {
  width: 200px;
  height: 200px;
  margin: 100px auto;
  perspective: 800px;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  width: 200px;
  height: 200px;
  background: rgba(173, 216, 230, 0.9);
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
  line-height: 200px;
  cursor: pointer;
}

.front  { transform: rotateY(0deg) translateZ(100px); }
.back   { transform: rotateY(180deg) translateZ(100px); }
.right  { transform: rotateY(90deg) translateZ(100px); }
.left   { transform: rotateY(-90deg) translateZ(100px); }
.top    { transform: rotateX(90deg) translateZ(100px); }
.bottom { transform: rotateX(-90deg) translateZ(100px); }

.face.front {
  background-image: url('/HandiFunWorld/style/img/partenaires/logo_crazy.jpg');
  background-size: cover;
  background-position: center;
}

.face.back {
  background-image: url('/HandiFunWorld/style/img/partenaires/logo_dragaura.png');
  background-size: cover;
  background-position: center;
}

.face.right {
  background-image: url('/HandiFunWorld/style/img/partenaires/logo_elixirs.jpg');
  background-size: cover;
  background-position: center;
}

.face.left {
  background-image: url('/HandiFunWorld/style/img/partenaires/logo_heavijio.jpg');
  background-size: cover;
  background-position: center;
}

.face.bottom {
  background-image: url('/HandiFunWorld/style/img/partenaires/logo_pandemonium.png');
  background-size: cover;
  background-position: center;
}
.face.top {
  background-color: #000;
  background-size: cover;
  background-position: center;
}

/* Popup test */
.popup {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  position: relative;
}

/* Personnalisation des fonds selon la face */
.popup.front .popup-content {
  background-image: url('../style/img/partenaires/crazy.jpg');
}

.popup.back .popup-content {
  background-image: url('../style/img/partenaires/dragaura.jpg');
}

.popup.left .popup-content {
  background-image: url('../style/img/partenaires/elixir.jpg');
}

.popup.right .popup-content {
  background-image: url('../style/img/partenaires/heavijio.jpg');
}

.popup.top .popup-content {
  background-color: #000;
}

.popup.bottom .popup-content {
  background-image: url('../style/img/partenaires/pandemonium.jpg');
}

.close {
  float: right;
  cursor: pointer;
  font-size: 24px;
}

.face img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
